<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="/static/assets/logo.png" type="image/x-icon">
    
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="top-bar-head">
        {% comment %} Home Button {% endcomment %}
        <a href="/" class="stats-btn-head">Home</a>

        {% if user.is_superuser %}
            <a href="/dashboard" class="stats-btn-head">Overall Stats</a>
            <a href="/admin" class="dashboard-btn-head">Super Admin Dashboard</a>
        {% endif %}
        {% if user.is_staff %}
        <a href="/add-dashboard" class="stats-btn-head">Data Entry</a>
        {% endif %}
        <div class="profile-dropdown" id="profileDropdown">
            <div class="profile-icon" onclick="toggleDropdown()">
               <i class="fa-solid fa-user"></i>
            </div>
            <div class="dropdown-content" id="dropdownContent">
                <a href="/profile"><i class="fa-solid fa-id-badge"></i> My Profile</a>
                <a href="#" class="prf-logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><i class="fa-solid fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
    </div>
    <form id="logout-form" action="/logout" style="display: none;">
        {% csrf_token %}
    </form>
    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById('profileDropdown');
            dropdown.classList.toggle('show');
        }
        window.onclick = function(event) {
            if (!event.target.closest('.profile-dropdown')) {
                document.getElementById('profileDropdown').classList.remove('show');
            }
        }
        function goBack() {
    window.history.back(); // or use history.go(-1);
  }

      setTimeout(() => {
        const msg = document.querySelector('.backend-message');
        if (msg) {
            msg.style.display = 'none';
        }
    }, 4000); // hide after 4 seconds
    
    </script>
{% if request.path != "/" %}
    <button class="go-back-btn" onclick="goBack()">
        <i class="fa-solid fa-arrow-left"></i> Back
    </button>
{% endif %}
{% if messages %}
    <div class="backend-message">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
</body>
</html>
